* {
  background-color: #eee7e1;
  font-family: "Inter", serif;
}

.job-board {
  min-height: 100vh; 
  max-width: 1260px;
  display: flex;
  flex-direction: column;
  margin: auto;

  .logo-text {
    color: #911016;
    font-size: 25px;
    font-family: "Prosto One", serif;
    font-weight: 400;
    margin-left: 16px;
    @media (max-width: 600px) {
      display: none;
    }
  }

  .header_job_board {
    display: flex;
    justify-content: space-between; /* Размещает элементы по краям */
    align-items: center; /* Выравнивает элементы по вертикали */
    padding: 10px 0;

    div {
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }

  h1 {
    font-size: 62px;
    color: #364670;
    font-family: "Inter", serif;
    font-weight: 500;
    margin: 125px 0 28px 0;
    @media (max-width: 600px) {
      font-size: 24px;
      margin: 28px 0;
    }
  }

  .tabs {
    margin: 20px 0;
    button {
      color: #911016;
      padding: 10px;
      gap: 10px;
      border: none;
      cursor: pointer;
      border-radius: 10px;
      font-size: 16px;
      &.active {
        background: #a00;
        color: #fff;
      }
      &:hover {
        opacity: 0.9;
      }
    }
  }

  .search-bar {
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
    position: relative;
    input {
      background: white;

      border: 1.5px solid #a68144;
      padding: 20px 20px;
      width: 80%;
      border-radius: 14px;
      font-size: 16px;
      outline: none;
    }
    button {
      font-size: 20px;
      width: 15%;
      padding: 15px 40px;
      background: #a00;
      color: white;
      border: none;
      cursor: pointer;
      border-radius: 14px;

      &:hover {
        opacity: 0.9;
      }
    }
    @media (max-width: 600px) {
      input {
        padding: 10px 10px;
        width: 70%;
        border-radius: 14px;
        font-size: 16px;
      }
      button {
        font-size: 16px;
        width: 20%;
        padding: 5px 10px;
      }
    }
  }

  .cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    gap: 20px;
    padding: 20px 0;
    .card {
      border-radius: 5px;
      img {
        max-width: 100%;
        border-radius: 5px;
      }
      p {
        margin-top: 10px;
        font-size: 16px;
      }
    }
  }
}

.login-button {
  width: 188px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  background: white;
  padding: 10px 16px;
  border: none;
  border-radius: 16px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: 0.3s;

  &:hover {
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
  }

  .icon {
    background-color: #a68144;
    color: white;
    padding: 6px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .text {
    width: 104px;
    color: #1a2b50;
    font-weight: 500;
    background-color: transparent;
    display: flex;
    justify-content: space-between;
    font-size: 16px;
  }

  .arrow {
    color: #1a2b50;
    background-color: transparent;
  }
}

.dropdown {
  position: absolute;
  background: rgba(241, 241, 245, 1);
  border-radius: 14px;
  max-height: 200px;
  overflow-y: auto;
  width: 83%;
  top: 62px;
  margin-bottom: 30px;
}

.dropdown-item {
  padding: 10px;
  cursor: pointer;
  background: white;
}

.dropdown-item:hover {
  background: #f0f0f0;
}

.quick-tabs {
  display: flex;
  gap: 10px; 
}

.quick-tabs button {
  padding: 4px 12px;
  border-radius: 100px; 
  font-size: 18px;
  cursor: pointer;
  transition: background-color 0.3s, border-color 0.3s;
  background-color: white; 
  border: none;
  @media (max-width: 600px) {
    font-size: 14px;
  }
  &:hover {
    background-color: #f0f0f0; 
  }

  &.active {
    background-color: #e0e0e0;
    border-color: #bbb; 
  }
}

.footer {
  position: relative;
  bottom: 10px;
  margin-top: auto; 
  display: flex; 
  justify-content: space-between;
  align-items: center; 
}

.footer-left p {
  color: #948171;
  font-size: 14px;
}

.footer-right a {
  text-decoration: none;
  color: #911016;
  margin-left: 20px;
  font-size: 14px;
}

.footer-right a:hover {
  color: #000;
}
